{% extends "main/base.html" %}
{% load static %}
{% block content %}
<title>{% block title %}Экибастузские Тепловые Сети - Борьба с коррупцией{% endblock %}</title>
<div class="col px-4 py-3" style="background-color: rgba(240, 240, 240, 0.6); overflow-y: auto;">
    <h3>Борьба с коррупцией</h3>
    <br>
    <div class="container">
      <img src="{% static 'anticor.png' %}" alt="История строительства теплосетей" class="img-fluid" style="width: 430px;">
      <br>
      <br>
        <h4>Антикоррупционная политика и меры безопасности</h4>
      
        <p>ТОО «Экибастузские тепловые сети» является предприятием, которое передаёт и распределяет тепловую энергию потребителям города Экибастуз.</p>
      
        <p><strong>Безусловные приоритеты ТОО «ЭТС»</strong> — защита интересов потребителей и сотрудников предприятия от угроз, связанных с коррупцией.</p>
      
        <p>В случае, если вам стало известно:</p>
        <ul>
          <li>о готовящихся или свершившихся фактах коррупции, мошенничества и хищения;</li>
          <li>о нарушениях при проведении закупочных процедур;</li>
          <li>о злоупотреблениях служебным положением и превышении полномочий должностными лицами;</li>
          <li>о совершении иных действий, которые наносят или могут нанести материальный ущерб или вред деловой репутации ТОО «ЭТС»,</li>
        </ul>
        <p>Просим немедленно сообщать об этом на «Горячую линию» по следующим адресам электронной почты:</p>
      
        <table style="border-collapse: collapse; width: 100%; border: 1px solid #333;">
          <thead>
            <tr>
              <th style="border: 1px solid #333; padding: 10px;">Направленность сообщений</th>
              <th style="border: 1px solid #333; padding: 10px;">Электронный адрес</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td style="border: 1px solid #333; padding: 10px;">Приемная ТОО «ЭТС»</td>
              <td style="border: 1px solid #333; padding: 10px;">
                <a href="mailto:priem-etc@tooets.kz">priem-etc@tooets.kz</a>
              </td>
            </tr>
            <tr>
              <td style="border: 1px solid #333; padding: 10px;">Отдел экономической безопасности</td>
              <td style="border: 1px solid #333; padding: 10px;">
                <a href="mailto:R.Abildenov@tooets.kz">R.Abildenov@tooets.kz</a>
              </td>
            </tr>
          </tbody>
        </table>
        <br>
      
        <p>Ваши обращения оперативно поступят в вышеуказанные отделы, подчиняющиеся руководству ТОО «ЭТС».</p>
      
        <p>Все обращения можно направлять как за личной подписью, так и анонимно. Руководство ТОО «ЭТС» гарантирует, что не будет принимать никаких мер по установлению личности отправителя.</p>
      
        <p><strong>Информация, полученная от вас, будет детально изучена и проверена.</strong></p>
      
        <p><strong>Телефон доверия:</strong> <a href="tel:+77015929960">8 701 592 9960</a></p>
      </div>
</div>
{% endblock %}