{% extends "main/base.html" %}
<title>{% block title %}Экибастузские Тепловые Сети - Охрана окружающей среды{% endblock %}</title>
{% block content %}
<div class="col px-4 py-3" style="background-color: rgba(240, 240, 240, 0.6); overflow-y: auto;">
<h2>Охрана окружающей среды</h2>
    <br>
    <p>В ТОО «Экибастузские тепловые сети» охрана окружающей среды является одним из приоритетных направлений деятельности, отраженных в Стратегии развития предприятия. Общество заинтересовано в получении экологически чистой теплоэнергии, в рациональном использовании природных ресурсов, предотвращении и сокращении загрязнения окружающей среды.</p>

    <p><strong>Цель предприятия:</strong> предотвращение загрязнения окружающей среды является определяющим при принятии всех решений оперативной деятельности при производстве тепловой энергии. При внедрении новых технологий — оценивать уровень их воздействия на окружающую среду и эффективность использования энергетических и природных ресурсов.</p>

    <h4>ТОО «Экибастузские тепловые сети» обязуется:</h4>
    <ul>
        <li>Осуществлять свою деятельность в соответствии с требованиями действующего экологического законодательства Республики Казахстан и соблюдать требования международного законодательства и соглашений, регламентирующих деятельность компании;</li>
        <li>Проводить оценку воздействия на окружающую среду любой намечаемой хозяйственной деятельности, рассматривая альтернативные варианты и выбирая оптимальные с эколого-экономической точки зрения проекты;</li>
        <li>Контролировать экологические показатели своей деятельности с целью снижения воздействия на окружающую среду и повышения эффективности работы системы экологического менеджмента;</li>
        <li>Обеспечивать процесс непрерывного совершенствования природоохранных мер, периодически устанавливая и пересматривая целевые и плановые экологические показатели;</li>
        <li>Стремиться к работе без ущерба окружающей среде и рационально использовать природные ресурсы;</li>
        <li>Выполнять производственные операции в соответствии с отраслевыми стандартами обеспечения технической целостности и безопасности работ.</li>
    </ul>

    <h4>Всемирный день охраны окружающей среды</h4>
    <p><strong>Девиз Всемирного дня охраны окружающей среды</strong> ТОО «Экибастузские тепловые сети» в 2025 году: <em>«Переосмыслить, воссоздать, восстановить»</em>!</p>
    <p>Для работников предприятия и их детей ежегодно 5 июня в ТОО «Экибастузские тепловые сети» проводятся мероприятия и конкурсы, посвященные Всемирному дню охраны окружающей среды. Эти события нацелены напомнить о важности сохранения природы, которая дарит нам всем жизнь.</p>
    <p>По итогам проведения Всемирного дня охраны окружающей среды проводится поощрение работников и их детей.</p>
</div> 
{% endblock %}
