{% extends "main/base.html" %}
{% load static %}
<title>{% block title %}Экибастузские Тепловые Сети - История{% endblock %}</title>
{% block content %}
<div class="col px-4 py-3" style="background-color: rgba(240, 240, 240, 0.6); overflow-y: auto;">
    <h3>История</h3>
    <div style="width: 100%">
        <br>
        <div style="padding-left: 15px; text-align: justify; text-indent: 25px;">
            ТОО «Экибастузские тепловые сети» было создано в 2024 году, с 2007 года являлось подразделением ТОО «Экибастузтеплоэнерго». 
            До этого, начиная с 1956 года, предприятие находилось в составе Экибастузской ТЭЦ, которая стала первой теплоцентралью Павлодарского Прииртышья.
            Уже более полувека наше предприятие является единственным источником теплоснабжения города Экибастуз с населением 143 тысячи человек.
        </div>
        <br>
        <div style="display: flex; justify-content: center;">
            <img src="{% static 'history1.jpg' %}" alt="Фото взято из открытых источников" class="img-fluid" style="width: 530px;">
            <img src="{% static 'history2.jpg' %}" alt="Фото взято из открытых источников" class="img-fluid" style="width: 530px;">
        </div>
        <div style="text-align: center">(фото взято из открытых источников)</div>
        <br>
        <br>
        <div style="padding-left: 15px; text-align: justify; text-indent: 25px;">
            Компания предоставляет услуги по передаче и распределению тепловой энергии потребителям города Экибастуз.
        </div>
        <br>
        <div style="padding-left: 15px; text-align: justify; text-indent: 25px;">
            На 31 декабря 2024 года количество потребителей тепловой энергии в городе составило 49 567, из которых:
        </div>
        <br>
        <ul>
            <li>Население — 48 497 человек.</li>
            <li>Бюджетные организации — 103.</li>
            <li>Прочие потребители — 967.</li>
        </ul>
        <br>
        <div style="padding-left: 15px; text-align: justify; text-indent: 25px;">
            ТОО «Экибастузские тепловые сети» ориентирует свою деятельность на международные стандарты в области производства, 
            экологии, охраны здоровья и социальной ответственности. 
            Главной целью компании является обеспечение сбалансированного и устойчивого теплоснабжения города Экибастуз.
        </div>

    </div>

</div>
{% endblock %}