{% extends "main/base.html" %}
<title>{% block title %}Экибастузские Тепловые Сети - Безопасность и охрана труда{% endblock %}</title>
{% block content %}
<div class="col px-4 py-3" style="background-color: rgba(240, 240, 240, 0.6); overflow-y: auto;">
    <h2>Безопасность и охрана труда</h2>
    <p>Безопасность и охрана труда является одной из важных и приоритетных ценностей ТОО «Экибастузские тепловые сети» и рассматривается как неотъемлемая часть бизнес-системы нашего предприятия.</p>
    <h4>Цель предприятия 24/7:</h4>
    <ul>
        <li>Сохранение здоровья и жизни работников,</li>
        <li>Создание безопасных условий труда,</li>
        <li>Предупреждение травматизма,</li>
        <li>Улучшение санитарно-бытовых и производственных условий труда работников,</li>
        <li>Уменьшение влияния вредных и неблагоприятных факторов,</li>
        <li>Снижение специфических отраслевых рисков и опасностей на рабочих местах.</li>
    </ul>
    <p>ТОО «Экибастузские тепловые сети» ежегодно организовывает для работников предприятия проведение периодического обязательного медицинского осмотра с целью обеспечения динамического наблюдения за состоянием здоровья работающих.</p>
    <p>Работники предприятия в зимний и летний период обеспечены специальной одеждой, обувью, а также средствами индивидуальной защиты (рук, глаз, лица, головы и т.д.).</p>
    <p>В целях предупреждения профессиональных заболеваний, отравлений и укрепления здоровья, работникам, чья трудовая деятельность связана с вредностью, предоставляется молоко и дополнительные дни к отпуску.</p>
    <p>На предприятии проводится производственный контроль с комплексом мероприятий, включая лабораторные исследования, работы и услуги, направленные на обеспечение безопасности и безвредности для человека и окружающей среды, согласно требованиям Санитарных правил «Санитарно-эпидемиологические требования к осуществлению производственного контроля».</p>
    <p>Каждые пять лет проводится аттестация производственных объектов по условиям труда с целью определения состояния безопасности, вредности, тяжести, напряженности выполняемых работ, гигиены труда и соответствия условий производственной среды нормативам в области безопасности и охраны труда.</p>
    <h4>Всемирный день охраны труда — 28.04.2025</h4>
    <p><strong>Девиз в 2025 году:</strong> <em>«Безопасная и здоровая рабочая среда — основополагающий принцип и право в сфере труда»</em></p>
    <p>Для работников предприятия и их детей ежегодно 28 апреля в ТОО «Экибастузские тепловые сети» проводятся мероприятия и конкурсы, посвящённые Всемирному дню охраны труда. Эти мероприятия направлены на предотвращение заболеваний и травматизма на производстве.</p>
    <p>По итогам проведения Всемирного дня безопасности и охраны труда проводится поощрение работников и их детей.</p>
</div> 
{% endblock %}