{% extends "main/base.html" %}
{% load static%}
{% block content %}
<title>{% block title %}Экибастузские Тепловые Сети - Безопасность и охрана труда{% endblock %}</title>
<div class="col px-4 py-3" style="background-color: rgba(240, 240, 240, 0.6); overflow-y: auto;">
    <h3>Безопасность и охрана труда</h3>
    <p>
      Безопасность и охрана труда является одной из важных и приоритетных ценностей ТОО «Экибастузские тепловые сети» и рассматривается как неотъемлемая часть бизнес-системы нашего предприятия.
    </p>
    <p><strong>Цель предприятия 24/7:</strong></p>
      Сохранение здоровья и жизни работников, создание безопасных условий труда, предупреждение травматизма, улучшение санитарно-бытовых и производственных условий труда работников, уменьшение влияния вредных и неблагоприятных факторов, снижение специфических отраслевых рисков и опасностей на рабочих местах.
      <br>
      <img src="{% static 'hrsafe.jpg' %}" alt="" class="img-fluid" style="width: 430px;">
    <p>
       <div class="col px-4 py-3" style="background-color: rgba(240, 240, 240, 0.6); overflow-y: auto;">
  <h4>Безопасность и охрана труда</h4>
  <p>
    Безопасность и охрана труда является одной из важных и приоритетных ценностей ТОО «Экибастузские тепловые сети» и рассматривается как неотъемлемая часть бизнес-системы нашего предприятия.
  </p>
  <p><strong>Цель предприятия 24/7:</strong></p>
  <ul>
    <li>Сохранение здоровья и жизни работников, создание безопасных условий труда, предупреждение травматизма, улучшение санитарно-бытовых и производственных условий труда работников, уменьшение влияния вредных и неблагоприятных факторов, снижение специфических отраслевых рисков и опасностей на рабочих местах.</li>
  </ul>
  <p>
    ТОО «Экибастузские тепловые сети» для работников предприятия ежегодно организовывает проведение периодического обязательного медицинского осмотра с целью обеспечения динамического наблюдения за состоянием здоровья работающих. Работники предприятия в зимний и летний период обеспечены спец. одеждой, спец. обувью, а также выдаются средства индивидуальной защиты (рук, глаз, лица, головы и т.д.). В целях предупреждения профессиональных заболеваний, отравлений и укрепления здоровья, работникам чья трудовая деятельность связанна с вредностью получают молоко и дополнительные дни к отпуску.
  </p>
  <p>
    На предприятии проводится производственный контроль с комплексом мероприятий, в том числе лабораторных исследований, работ и услуг, выполняемых предприятием, направленных на обеспечение безопасности и безвредности для человека и среды обитания, согласно требований Санитарных правил «Санитарно-эпидемиологические требования к осуществлению производственного контроля». Каждые пять лет проводится аттестация производственных объектов по условиям труда с целью определения состояния безопасности, вредности, тяжести, напряженности, выполняемых на них работ, гигиены труда и определения соответствия условий производственной среды нормативам в области безопасности и охраны труда.
  </p>
  <p><strong>Всемирный день охраны труда 28.04.2025 года.</strong></p>
  <p><strong>Девиз посвященный всемирному дню безопасности и охраны труда ТОО «Экибастузские тепловые сети» в 2025 году:</strong></p>
  <p>
    «Безопасная и здоровая рабочая среда — основополагающий принцип и право в сфере труда»
  </p>
  <p>
    Для работников предприятия и их детей, ежегодно в ТОО «Экибастузские тепловые сети» проводятся Всемирный день охраны труда 28 апреля с мероприятиями и конкурсами посвященными Всемирному дню безопасности и охраны труда, направленные на предотвращение заболеваний и травматизма на производстве.
  </p>
  <p>
    По итогам проведения Всемирного дня безопасности и охраны труда проводится поощрение работников и их детей.
  </p>
</div>
 
      ТОО «Экибастузские тепловые сети» для работников предприятия ежегодно организовывает проведение периодического обязательного медицинского осмотра с целью обеспечения динамического наблюдения за состоянием здоровья работающих. Работники предприятия в зимний и летний период обеспечены спец. одеждой, спец. обувью, а также выдаются средства индивидуальной защиты (рук, глаз, лица, головы и т.д.). В целях предупреждения профессиональных заболеваний, отравлений и укрепления здоровья, работникам чья трудовая деятельность связанна с вредностью получают молоко и дополнительные дни к отпуску.
    </p>
    <p>
      На предприятии проводится производственный контроль с комплексом мероприятий, в том числе лабораторных исследований, работ и услуг, выполняемых предприятием, направленных на обеспечение безопасности и безвредности для человека и среды обитания, согласно требований Санитарных правил «Санитарно-эпидемиологические требования к осуществлению производственного контроля». Каждые пять лет проводится аттестация производственных объектов по условиям труда с целью определения состояния безопасности, вредности, тяжести, напряженности, выполняемых на них работ, гигиены труда и определения соответствия условий производственной среды нормативам в области безопасности и охраны труда.
    </p>
    <img src="{% static 'hrsafe.jpg' %}" alt="" class="img-fluid" style="width: 430px;">
    <p><strong>Всемирный день охраны труда 28.04.2025 года.</strong></p>
    <p><strong>Девиз посвященный всемирному дню безопасности и охраны труда ТОО «Экибастузские тепловые сети» в 2025 году:</strong></p>
    <p>
      «Безопасная и здоровая рабочая среда — основополагающий принцип и право в сфере труда»
    </p>
    <p>
      Для работников предприятия и их детей, ежегодно в ТОО «Экибастузские тепловые сети» проводятся Всемирный день охраны труда 28 апреля с мероприятиями и конкурсами посвященными Всемирному дню безопасности и охраны труда, направленные на предотвращение заболеваний и травматизма на производстве.
    </p>
    <p>
      По итогам проведения Всемирного дня безопасности и охраны труда проводится поощрение работников и их детей.
    </p>
  </div>
  
{% endblock %}