{% extends "main/base.html" %}
<title>{% block title %}Экибастузские Тепловые Сети - Интегрированная система менеджмента{% endblock %}</title>
{% block content %}
<div class="col px-4 py-3" style="background-color: rgba(240, 240, 240, 0.6); overflow-y: auto;">
    <h3>Интегрированная система менеджмента</h3>


    <div style="width: 100%">
        <br>
        <div style="padding-left: 15px; text-align: justify; text-indent: 25px;">
            ТОО «Экибастузские тепловые сети» стремится соответствовать современным требованиям и стандартам,
             внедряя интегрированную систему менеджмента (ИСМ), которая объединяет различные аспекты управления для достижения 
             устойчивого развития и повышения конкурентоспособности.                    
        </div>
        <br>
        <div style="padding-left: 15px; text-align: justify; text-indent: 25px;">
            На предприятии ТОО «Экибастузские тепловые сети» внедрена интегрированная система менеджмента включающей в себя следующие менеджмента:
        </div>
        <br>
        <div style="margin-left: 25px;">
            <ul>
                <li>система менеджмента качества</li>
                <li>система экологического менеджмента</li>
                <li>система менеджмента профессиональной безопасности и здоровья</li>
            </ul>
        </div>
        <br>
        <div style="padding-left: 15px; text-align: justify; text-indent: 25px;">
            Интегрированная система менеджмента (ИСМ) включает в себя комплексный подход к управлению различными аспектами деятельности организации, 
            включая качество, охрану окружающей среды, безопасность труда.
        </div>
        <br>
        <div style="padding-left: 15px; text-align: justify; text-indent: 25px;">
            Политика в области ИСМ отражает стратегические цели организации и устанавливает основы для достижения высоких стандартов в управлении. 
            Вот основные элементы, которые входят в политику ИСМ:
        </div>
        <br>
        <div style="margin-left: 25px;">
            <ol>
                <li><b>Стратегические цели:</b> Ясное определение целей в области качества, экологии, безопасности и других направлений, 
                    соответствующих миссии и видению организации.
                </li>
                <li>
                    <b>Соответствие законодательству:</b> Соблюдение все применимые законодательные и нормативные требования, 
                    а также стандарты, относящиеся к соответствующим областям.
                </li>
                <li>
                    <b>Постоянное совершенствование:</b> Поддержка культуры постоянного улучшения процессов и систем, направленных на повышение эффективности и результативности.
                </li>
                <li>
                    <b>Коммуникация:</b> Установление механизмов для информирования всех заинтересованных сторон о политике ИСМ, 
                    а также вовлечение сотрудников в процессы управления и улучшения.
                </li>
                <li>
                    <b>Обучение и развитие:</b> Инвестирование в обучение и развитие персонала для повышения их компетенций и осведомленности в области ИСМ.
                </li>
                <li>
                    <b>Управление рисками:</b> Определение и управление потенциальными рисками, 
                    чтобы минимизировать негативные последствия для организации и окружающей среды.
                </li>
                <li>
                    <b>Ориентация на клиентов:</b> Приверженность удовлетворению потребностей и ожиданий клиентов, а также повышение их удовлетворенности.
                </li>
            </ol>
        </div>
        <br>
        <div style="padding-left: 15px; text-align: justify; text-indent: 25px;">
            Руководство организации ТОО «Экибастузские тепловые сети» обязуется осуществлять 
            Политику интегрированной системы менеджмента через активное участие руководителей, 
            установление единства целей и обеспечение эффективности системы.                  
            Мы стремимся к достижению высоких стандартов качества, безопасности и охраны окружающей среды в своей деятельности.        
        </div>

    </div>

</div>
{% endblock %}