{% extends "main/base.html" %}
{% load static %}
{% block content %}
<title>{% block title %}Экибастузские Тепловые Сети - Профсоюз{% endblock %}</title>
<div class="col px-4 py-3" style="background-color: rgba(240, 240, 240, 0.6); overflow-y: auto;">
    <h3>Профсоюз</h3>
    <br>
    <h4>Председатель профсоюза</h4>
    <img src="{% static 'prof.jpg' %}" alt="История строительства теплосетей" class="img-fluid" style="width: 430px;">
  <p>Толеубаев Балтабек Кобетаевич</p>

  <p>ОО «Локальный профсоюз работников энергосистемы «Павлодарэнерго» является общественным объединением, добровольно созданным работниками энергосистемы «ПАВЛОДАРЭНЕРГО» 5 декабря 2007 года.</p>
  <p>Профсоюз осуществляет свою деятельность в соответствии с Конституцией РК, Законами Республики Казахстан и уставом общественного объединения.</p>
  <p>Основная цель деятельности профсоюза — это представление, обеспечение и защита трудовых, профессиональных, а также других социально-экономических прав и интересов своих членов.</p>
  <p>В составе локального профсоюза на 1 января 2023 года числилось 1555 человек.</p>
  <p>Профсоюз работников энергосистемы «ПАВЛОДАРЭНЕРГО» большое внимание уделяет охране здоровья работников и организации их досуга:</p>
  <ol>
    <li>Увеличение компенсации стоимости путевок и лечения в санатории-профилактории «Энергетик».</li>
    <li>Создание условий для отдыха.</li>
    <li>Организация в области увеличения досуга сотрудников предприятий группы компаний, их детей.</li>
    <li>Проведение спортивных мероприятий на территории дома отдыха «Энергетик» (футбол, кросс, гири, армреслинг, рыбалка).</li>
    <li>Организация летнего детского лагеря.</li>
  </ol>
  <p>Профсоюз работников энергосистемы «ПАВЛОДАРЭНЕРГО» проводит оздоровительные мероприятия, связанные с оказанием содействия членам профсоюза санаторно-курортного лечения, посещения дома отдыха «Энергетик», бассейна, спортивно-массовых мероприятий в соответствии с календарем спортивных состязаний:</p>
  <ul>
    <li>лыжный кросс;</li>
    <li>зимняя рыбалка;</li>
    <li>первенство по волейболу;</li>
    <li>шахматно-шашечный турнир;</li>
    <li>мини-футбол;</li>
    <li>осенний кросс;</li>
    <li>спартакиада «Папа, мама, я — спортивная семья».</li>
  </ul>
  <p>В целях поддержания жизненного уровня и осуществления мер по социальной защиты членов профсоюзной организации выделяется благотворительная помощь:</p>
  <ul>
    <li>на похороны члена профсоюза и близких родственников;</li>
    <li>на длительное и дорогостоящее лечение;</li>
    <li>в связи с расходами на операцию;</li>
    <li>помощь многодетным, малообеспеченным семьям, детям-инвалидам до 18 лет, к 1 сентября.</li>
  </ul>
  <p>В области оздоровления профсоюз «ПАВЛОДАРЭНЕРГО» компенсирует в среднем 25–30 % стоимости путевок, курсовок в санаторий-профилакторий «Энергетик» и дом отдыха «Энергетик».</p>
  <table style="border: 1px solid black; border-collapse: collapse; width: 100%;">
    <thead>
      <tr>
        <th style="border: 1px solid black; padding: 10px;">Санаторий-профилакторий «Энергетик» оказывает услуги</th>
        <th style="border: 1px solid black; padding: 10px;">Дом отдыха «Энергетик» оказывает услуги</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td style="border: 1px solid black; padding: 10px;">
          <ul>
            <li>физиолечение;</li>
            <li>обертывание лечебной грязью;</li>
            <li>гидропроцедуры;</li>
            <li>массаж;</li>
            <li>процедурный кабинет;</li>
            <li>тренажерный зал</li>
            <li>И многое другое.</li>
          </ul>
        </td>
        <td style="border: 1px solid black; padding: 10px;">
          <ul>
            <li>проведение культурно-массовых мероприятий;</li>
            <li>аренда домов для отдыха;</li>
            <li>сауна;</li>
            <li>бассейн;</li>
            <li>спортивные игры на свежем воздухе.</li>
          </ul>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
        <div class="contacts">
          <h4>Контакты</h4>
          <p><strong>Адрес:</strong> 140000, г. Павлодар, ул. Кривенко, 27</p>
          <p><strong>Тел./факс:</strong> 8 (7182) 39-97-84</p>
          <p><strong>Электронная почта:</strong> <a href="mailto:profkom_pv@bk.ru">profkom_pv@bk.ru</a></p>
        </div>

</div>
{% endblock %}