{% extends "main/base.html" %}
{% block content %}
    <div class="col px-4 py-3" style="background-color: rgba(240, 240, 240, 0.6); overflow-y: auto;">
        <h3>Новости</h3>
        {% for item in news %}
        <div class="news-block mb-4 p-3 border rounded">
            <div class="news-header h5">{{ item.title }}</div>
            <div class="news-content mt-2">
                <br>
                <p>{{ item.content }}</p>
                <small class="text-muted">{{ item.created_at }}</small>
            </div>
        </div>
        {% endfor %}
    </div>
  {% endblock %}