{% extends "main/base.html" %}
{% block content %}
<title>{% block title %}Экибастузские Тепловые Сети - Наши профессионалы{% endblock %}</title>
<div class="col px-4 py-3" style="background-color: rgba(240, 240, 240, 0.6); overflow-y: auto;">
    <h3>Наши профессионалы</h3>
    <p>В рамках Года рабочих профессий продолжаем делиться историями наших сотрудников, которые делают все возможное, обеспечивая тепло в домах экибастузцев.</p>
    {% for item in info %}
    <table width="100%" cellpadding="10" style="border-collapse: collapse;">
        <tr valign="top">
            <td style="width: 350px;">
                <div style="width: 100%;">
                    <div style="text-align: center; font-size: 25px; color:rgb(0, 0, 0);">
                        <b>{{ item.name }}</b>
                    </div>
                    <div style="text-align: center;">
                        {% if item.photo %}
                            <img src="{{ item.photo.url }}"  style="max-width: 100%;">
                        {% endif %}
                    </div>
                    <div style="text-align: center; font-size: 25px; color:rgb(13, 63, 28);">
                        {{ item.position }}
                    </div>
                </div>
            </td>
            <td style="padding-left: 15px; text-align: justify;">
                <div style="text-indent: 25px;">{{ item.biography|safe }}</div>
                <br>
                <div style="text-indent: 25px;">
                    <strong>&nbsp;</strong>{{ item.description }}
                </div>
                <br>
                <div style="text-indent: 25px;">{{ item.recommendations|linebreaks }}</div>
            </td>
        </tr>
    </table>
    <hr style="border: 1px solid #000; margin: 30px 0;">
    {% endfor %}
           
</div>
{% endblock %}