{% extends "main/base.html" %}
<title>{% block title %}Экибастузские Тепловые Сети - Способы оплаты{% endblock %}</title>
{% block content %}
<div class="col px-4 py-3" style="background-color: rgba(240, 240, 240, 0.6); overflow-y: auto;">
    <h3>Способы оплаты</h3>
    <div class="section">
        <br>
        <p>В настоящее время Потребитель имеет право выбора способа осуществления оплаты за оказанные услуги через:</p>
        <ul>
          <li>
            пункт приема платежей <b>ТОО «Экибастузские тепловые сети»;</b><br>
            (бытовые и небытовые потребители)<br>
            Пункт приема платежей расположен по адресу: ул. Мухтара Ауэзова 153,<br>
            График работы: ПН-ПТ с 8.30 до 18.15ч. (без обеденного перерыва)<br>
            СБ - 9.00ч. до 18.00ч. (обеденный перерыв с 12.ч. до 13.00ч.)<br>
            Выходной-воскресенье, праздничные дни.<br>
            Потребители могут произвести оплату за оказанные услуги наличными средствами и платежными картами любого банка второго уровня.
          </li>
          <li><b>в отделениях АО «Казпочта»;<br></b>(бытовые потребители)</li>
          <li><b>в приложениях интернет банкинга «Kaspi.kz», «Halyk Homebank»;</b><br>(бытовые потребители)</li>
          <li><b>в платежных терминалах QIWI, Касса 24;</b><br>(бытовые и небытовые потребители)</li>
          <li><b>в платежных терминалах Народного банка;</b><br>(бытовые потребители)</li>
          <li><b>через интернет сайт <a href="http://www.kassa24" target="_blank">www.kassa24</b></a>.</li>
        </ul>
      </div>
    
      <div class="section">
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Потребителям необходимо производить оплату за услуги, оказываемые ТОО «Экибастузские тепловые сети», в срок не позднее 25 числа месяца, следующего за расчетным.
          Срок оплаты предусмотрен Публичным договором на оказание услуг по снабжению тепловой энергией, опубликованном в газете «Голос Экибастуза» № 27 от 04.07.2024г.
        </p>
    
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;За несвоевременную оплату тепловой энергии ТОО «Экибастузские тепловые сети» производит начисление неустойки (пени) бытовым потребителям в размере 1,5 кратной ставки рефинансирования,
          установленной Национальным банком Республики Казахстан на день фактического исполнения ими денежного обязательства, за каждый день просрочки платежа,
          но не более суммы основного долга. Для небытовых потребителей установление размера неустойки производится при заключении Договора.
          Началом срока начисления неустойки является первый день месяца, следующего за расчетным периодом, если иное не оговорено соглашением сторон.
        </p>
    
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Согласно заключенных Договоров с банками по приему платежей от населения за услуги ТОО «Экибастузские тепловые сети»,
          перечисление принятых денежных средств на реквизиты Товарищества осуществляется на следующий рабочий день после приема платежей от населения.
          Таким образом, датой зачисления оплаты потребителя на его лицевой счет является дата фактического поступления денежных средств на расчетный счет Товарищества.
        </p>
      </div>
</div>
{% endblock %}