{% extends "main/base.html" %}
<title>{% block title %}Экибастузские Тепловые Сети - Сообщить о хищение энергии{% endblock %}</title>
{% block content %}
<div class="col px-4 py-3" style="background-color: rgba(240, 240, 240, 0.6); overflow-y: auto;">
    <h3>Сообщить о хищение энергии</h3>
    <div style=" margin: 0 auto; font-family: Arial, sans-serif; line-height: 1.6;">
        <div style="text-align: center; font-size: 20px"><p>Уважаемый потребитель!</p></div>
    
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Если Вам стало известно о каких-либо фактах незаконного потребления, либо хищения тепловой энергии потребителями, 
            недобросовестной рекламе, продаже, установке или иных способах искажения показателей приборов учета тепловой энергии, 
            а также по фактам противоправной деятельности представителей энергопередающей/энергоснабжающей организации 
            в отношении Вас и Ваших близких, просим незамедлительно сообщить об этом по телефону доверия: 
            <strong>+7(7187) 28-09-16</strong>.
        </p>
    
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Руководство ТОО «Экибастузские тепловые сети» гарантирует, что не будет принимать никаких мер по установлению личности отправителя. 
            По результатам поступившей информации по хищению энергии, персоналом будет осуществлена проверка, и в случае подтверждения 
            данного факта, к потребителю, допустившему нарушение, будут применены соответствующие меры в рамках действующих НПА РК.
        </p>
    
        <p><strong>Компания гарантирует анонимность и конфиденциальность.</strong></p>
    </div>
    
</div>
{% endblock %}