{% extends "main/base.html" %}
<title>{% block title %}Экибастузские Тепловые Сети - Информация о закупках{% endblock %}</title>
{% block content %}
<div class="col px-4 py-3" style="background-color: rgba(240, 240, 240, 0.6); overflow-y: auto;">
    <h3>Информация о закупках</h3>
    <br>
    <p>ТОО «Экибастузские тепловые сети» осуществляет закуп необходимой продукции посредством электронных торгов на платформе <strong>EurasianTech</strong>.</p>
    <p>Для участия в торгах необходимо пройти регистрацию на портале, следуя размещенной там инструкции. После регистрации участнику нужно подать заявку на участие в торгах и прикрепить требуемые документы.</p>

    <h4>Особые условия закупок</h4>
    <p>В некоторых случаях, по объективным причинам, закупки могут проводиться не конкурентным способом, а у единственного поставщика. Это допускается при наличии обоснованных причин, таких как:</p>
    <ul>
        <li>срочность;</li>
        <li>отсутствие конкурентов на рынке;</li>
        <li>нерентабельность проведения конкурса;</li>
        <li>индивидуальные условия поставки;</li>
        <li>отсутствие интереса со стороны других поставщиков.</li>
    </ul>
    <p>В подобных случаях заказчик обязан предоставить обоснование выбора поставщика.</p>

    <h4>Коммерческие предложения</h4>
    <p>При планировании закупки для определения потенциального поставщика, мы направляем запросы коммерческих предложений не менее чем трём поставщикам, действующим на соответствующем рынке товаров, работ или услуг.</p>

    <h4>Электронные аукционы</h4>
    <p>Аукционы на портале <strong>EurasianTech</strong> проходят в формате снижения цены: участники поочерёдно предлагают цены ниже предыдущих. Победителем становится участник, предложивший самую низкую цену. Результаты аукциона рассылаются всем участникам по завершении торгов.</p>
    <p>Полная информация о текущих и планируемых закупках доступна на портале <strong>EurasianTech</strong>.</p>
    <p>Все закупки проводятся в соответствии с Приказом Министра национальной экономики РК от 13.08.2019 №73.</p>

    <br>
    <h4>Контактная информация</h4>
    <ul>
        <li>Телефон: 8 (7187) 280 961, 280 962</li>
        <li>E-mail: <a href="mailto:omts@tooets.kz">omts@tooets.kz</a></li>
    </ul>
</div>
{% endblock %}