{% extends "main/base.html" %}
<title>{% block title %}Экибастузские Тепловые Сети - Акция "Шаг на встречу"{% endblock %}</title>
{% block content %}
<div class="col px-4 py-3" style="background-color: rgba(240, 240, 240, 0.6); overflow-y: auto;">
    <h3>Акция "Шаг на встречу"</h3>
    <div style=" margin: 0 auto; font-family: Arial, sans-serif; line-height: 1.6;">
        <h2 style="text-align: center;"><u>Акция «Шаг навстречу»</u></h2>
        
        <h3 style="text-align: center; color: darkred;">УВАЖАЕМЫЕ ПОТРЕБИТЕЛИ!</h3>
        <br>
        <p>В ТОО «Экибастузские тепловые сети» действует акция «Шаг навстречу».</p>
    
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;<b>Бытовым потребителям, не имеющим возможность оплатить единовременно накопленную ранее большую задолженность, 
            предлагается заключить соглашение о погашении задолженности в рассрочку.</b>
        </p>
    
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Для заключения соглашения об оплате задолженности в рассрочку Бытовому потребителю 
            (владельцу квартиры или лицу, прописанным по этому адресу), необходимо проконсультироваться 
            в кабинете №6 по ул. Мухтара Ауэзова 153 и подать письменное заявление в канцелярию 
            (ул. Мухтара Ауэзова 153, рабочий день с 8:30 до 17:30).
        </p>
    
        <p>К заявлению необходимо приложить документы:</p>
        <ol>
            <li>Правоустанавливающие документы на квартиру (договор купли-продажи, мены, дарения, найма и т.д.);</li>
            <li>Удостоверение личности (ксерокопия);</li>
            <li>Квитанция об оплате первоначального взноса — от 20% от суммы долга на последний период;</li>
            <li>Документы, подтверждающие факты, изложенные в заявлении (справка о заработной плате, документы по инвалидности и т.д.).</li>
        </ol>
    
        <p>
            По истечении 15 рабочих дней заявитель уточняет по тел. 764664 решение, принятое по заявлению, 
            и обращается в кабинет № 6 для заключения соглашения.
        </p>
    </div>
    
</div>
{% endblock %}