{% extends "main/base.html" %}
{% load static %}
<title>{% block title %}Экибастузские Тепловые Сети - Стратегия{% endblock %}</title>
{% block content %}
<div class="col px-4 py-3" style="background-color: rgba(240, 240, 240, 0.6); overflow-y: auto;">
    <h3>Стратегия</h3>

    <div style="width: 100%">
        <div style="display: flex; justify-content: center;">
            <img src="{% static 'strategy.png' %}" alt="История строительства теплосетей" class="img-fluid" style="width: 430px;">
        </div>
        <br>
        <div style="padding-left: 15px; text-align: justify; text-indent: 25px;">
            ТОО «Экибастузские тепловые сети» является лидером в сфере теплоснабжения, 
            обеспечивая не только надежное, но и экологически безопасное снабжение тепловой энергией для города Экибастуз. 
            Мы фокусируемся на внедрении инновационных решений, использовании передовых технологий и социальной ответственности для создания устойчивого будущего. 
            Наша цель — стать не только источником тепла, но и надежным партнером для города, его жителей и организаций, 
            способствуя улучшению качества жизни и снижению воздействия на окружающую среду.
        </div>
        <br>
        <div style="padding-left: 15px; text-align: justify; text-indent: 25px;">
            Стратегия ТОО «Экибастузские тепловые сети» заключается в обеспечении бесперебойного теплоснабжения города Экибастуз 
            с применением современных технологий, инновационных решений и экологически безопасных практик. 
            Мы стремимся к улучшению качества жизни населения города путем:
        </div>
        <br>
        <ol>
            <li>Обеспечения надежности теплоснабжения, с минимальными рисками и отказами.</li>
            <li>Снижения негативного воздействия на окружающую среду, путем использования экологически чистых технологий и снижения выбросов.т</li>
            <li>Внедрения инновационных технологий для повышения эффективности производства и распределения тепла.</li>
            <li>Повышение социальной ответственности — мы активно участвуем в развитии города, поддерживаем социальные инициативы и стремимся улучшить качество жизни его жителей.</li>
        </ol>
    </div>

</div>
{% endblock %}