{% extends "main/base.html" %}
<title>{% block title %}Экибастузские Тепловые Сети - Повышение квалификации{% endblock %}</title>
{% block content %}
<div class="col px-4 py-3" style="background-color: rgba(240, 240, 240, 0.6); overflow-y: auto;">
    <h3>Повышение квалификации</h3>
    <br>
    <h4>Обучение сотрудников</h4>
    <p>На предприятии ТОО «Экибастузские тепловые сети» организовано обучение рабочих и специалистов по утверждённым образовательным программам.</p>

    <h4>Основные задачи системы обучения:</h4>
    <ul>
        <li>Профильная подготовка, переподготовка и повышение квалификации работников.</li>
        <li>Развитие профессиональных и личностных компетенций работников.</li>
        <li>Организация взаимодействия с учебными заведениями по вопросам подготовки и переподготовки персонала.</li>
        <li>Планирование и проведение практик для студентов выпускников учебных заведений.</li>
    </ul>

    <h4>Сотрудничество с учебными заведениями:</h4>
    <p>Для привлечения молодых и перспективных кадров ТОО «Экибастузские тепловые сети» активно сотрудничает с учебными заведениями города Экибастуз. Одним из наших ключевых партнёров является Высший Экибастузский колледж Инновационного Евразийского университета. В рамках данного сотрудничества студенты колледжа проходят у нас производственную и преддипломную практику, получают практические навыки, необходимые для успешной профессиональной деятельности.</p>
    
    <p>Кроме того, специалисты отдела по работе с персоналом принимают активное участие в ярмарках вакансий, проводимых для выпускников, с целью подбора молодых специалистов и содействия их трудоустройству.</p>

    <h4>Инвестиции в развитие персонала:</h4>
    <p>Инвестиции в развитие персонала являются стратегическим приоритетом нашей компании. Мы уверены, что квалифицированный и мотивированный коллектив - ключ к устойчивому развитию предприятия и повышению качества предоставляемых услуг. Через системное обучение, современные подходы к подготовке кадров и тесное взаимодействие с образовательными учреждениями, ТОО «Экибастузские тепловые сети» формирует профессиональное сообщество, способное эффективно отвечать на вызовы времени и внедрять инновации в сфере теплоснабжения.</p>
</div>
{% endblock %}