{% extends "main/base.html" %}
{% load static %}
{% block content %}
<title>{% block title %}Экибастузские Тепловые Сети - Всем тепла{% endblock %}</title>
<div class="col px-4 py-3" style="background-color: rgba(240, 240, 240, 0.6); overflow-y: auto;">
    <h3>Всем тепла</h3>
    <div class="content">
        <div style="text-align: center; font-size: 20px"><p><b>Уважаемые посетители сайта!</b></p></div>
      
        <p>&nbsp;&nbsp;&nbsp;&nbsp;Напоминаем: если вы и ваши соседи своевременно подготовите свое жилье к приходу зимы, в холода у вас дома будет тепло. Для этого настоятельно рекомендуем вам ознакомиться и выполнить <a href="{% static 'technical_requirements.pdf' %}">технические требования</a> для подготовки к отопительному сезону внутренних систем отопления объектов подключенных к центральному теплопотребления.</p>
      
        <p>&nbsp;&nbsp;&nbsp;&nbsp;В течение лета ТОО «Экибастузские тепловые сети» проводят Дни открытых дверей для всех форм управления. На этих встречах вы можете обсудить общие вопросы и проблемы, определить пути их решения, уточнить актуальные моменты по подготовке к отопительному сезону.</p>
      
        <p>&nbsp;&nbsp;&nbsp;&nbsp;В наших публикациях вы найдете <a href="{% url 'additional_information' %}">дополнительную информацию</a> по подготовке к отопительному сезону.</p>
      
        <p>&nbsp;&nbsp;&nbsp;&nbsp;В разделе <a href="{% url 'question' %}">вопрос-ответ</a> вы можете задать вопрос  о качестве теплоснабжения вашего дома.</p>
      
        <p>Для этого предварительно вам необходимо:</p>
        <ul>
          <li>обратиться к представителю объекта кондоминиума по вопросу недопоставки тепловой энергии;</li>
          <li>представителям объектов кондоминиума - необходимо подать телефонограмму в диспетчерскую службу ТОО «Экибастузские тепловые сети» по тел. <strong>280-901</strong> <a href="mailto:dis_ets@tooets.kz">dis_ets@tooets.kz</a> с указанием времени, даты ее передачи и фамилии лица, передавшего ее, а также время начала ухудшения качества тепловой энергии, характер ухудшения и необходимость присутствия представителя для проведения обследования, или письменно подать заявление в канцелярию ТОО «Экибастузские тепловые сети» по адресу <strong>ул. Кунаева 105</strong>, с <strong>09.00 до 12.00</strong> или с <strong>14.00 до 16.00</strong> или по тел. <strong>280-958</strong>.</li>
        </ul>
      </div>
      
</div>
{% endblock %}